<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>LoginPageServlet</servlet-name>
        <servlet-class>LoginPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPageServlet</servlet-name>
        <url-pattern>/loginpage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mainMenuServlet</servlet-name>
        <servlet-class>mainMenu.mainMenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainMenuServlet</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllTeamsServlet</servlet-name>
        <servlet-class>teams.AllTeamsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllTeamsServlet</servlet-name>
        <url-pattern>/allteams</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>FreeTeamsServlet</servlet-name>
    <servlet-class>teams.FreeTeamsServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>FreeTeamsServlet</servlet-name>
        <url-pattern>/freeteams</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>TeamInfoServlet</servlet-name>
    <servlet-class>teams.teamInfo.TeamInfoServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>TeamInfoServlet</servlet-name>
        <url-pattern>/teaminfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateTeamServlet</servlet-name>
        <servlet-class>teams.createTeam.CreateTeamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateTeamServlet</servlet-name>
        <url-pattern>/createteam</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MyTeamMenuServlet</servlet-name>
        <servlet-class>teams.myTeam.MyTeamMenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyTeamMenuServlet</servlet-name>
        <url-pattern>/myteammenu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MyTeamSquadServlet</servlet-name>
        <servlet-class>teams.myTeam.MyTeamSquadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyTeamSquadServlet</servlet-name>
        <url-pattern>/myteamsquad</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllPlayersServlet</servlet-name>
        <servlet-class>players.AllPlayersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllPlayersServlet</servlet-name>
        <url-pattern>/allplayers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PlayerInfoServlet</servlet-name>
        <servlet-class>players.PlayerInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlayerInfoServlet</servlet-name>
        <url-pattern>/playerinfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddRaitingServlet</servlet-name>
        <servlet-class>players.AddRaitingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRaitingServlet</servlet-name>
        <url-pattern>/addRaiting</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NotificationsServlet</servlet-name>
        <servlet-class>notifications.NotificationsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotificationsServlet</servlet-name>
        <url-pattern>/notifications</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NotificationsIntroductionServlet</servlet-name>
        <servlet-class>notifications.NotificationsIntroductionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotificationsIntroductionServlet</servlet-name>
        <url-pattern>/notificationsintroduction</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TrueAnswerServlet</servlet-name>
        <servlet-class>notifications.TrueAnswerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrueAnswerServlet</servlet-name>
        <url-pattern>/trueanswer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EnterTeamServlet</servlet-name>
        <servlet-class>teams.EnterTeam.EnterTeamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnterTeamServlet</servlet-name>
        <url-pattern>/enterteam</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>registration.RegistrationServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllFreeSingleMatchsServlet</servlet-name>
        <servlet-class>matchs.singleMatch.AllFreeSingleMatchsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllFreeSingleMatchsServlet</servlet-name>
        <url-pattern>/allfreesinglematch</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SubscribeSingleMatchServlet</servlet-name>
        <servlet-class>matchs.singleMatch.SubscribeSingleMatchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubscribeSingleMatchServlet</servlet-name>
        <url-pattern>/subsingmatch</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PlayerListServlet</servlet-name>
        <servlet-class>matchs.singleMatch.PlayerListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlayerListServlet</servlet-name>
        <url-pattern>/playerlist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MatchsServlet</servlet-name>
        <servlet-class>matchs.MatchsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MatchsServlet</servlet-name>
        <url-pattern>/matchs</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateMatchServlet</servlet-name>
        <servlet-class>matchs.createMatch.CreateMatchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateMatchServlet</servlet-name>
        <url-pattern>/creatematch</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FinishMatchServlet</servlet-name>
        <servlet-class>matchs.finishMatch.FinishMatchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FinishMatchServlet</servlet-name>
        <url-pattern>/finishmatch</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateTourmamentServlet</servlet-name>
        <servlet-class>tourmaments.createTourmament.CreateTourmamentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateTourmamentServlet</servlet-name>
        <url-pattern>/createtourmament</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TourmamentsServlet</servlet-name>
        <servlet-class>tourmaments.TourmamentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TourmamentsServlet</servlet-name>
        <url-pattern>/tourmaments</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditDataServlet</servlet-name>
        <servlet-class>EditDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditDataServlet</servlet-name>
        <url-pattern>/editdata</url-pattern>
    </servlet-mapping>


</web-app>