<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>LoginPageServlet</servlet-name>
        <servlet-class>LoginPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPageServlet</servlet-name>
        <url-pattern>/loginpage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mainMenuServlet</servlet-name>
        <servlet-class>mainMenu.mainMenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainMenuServlet</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllTeamsServlet</servlet-name>
        <servlet-class>teams.AllTeamsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllTeamsServlet</servlet-name>
        <url-pattern>/allteams</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>FreeTeamsServlet</servlet-name>
    <servlet-class>teams.FreeTeamsServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>FreeTeamsServlet</servlet-name>
        <url-pattern>/freeteams</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>TeamInfoServlet</servlet-name>
    <servlet-class>teams.teamInfo.TeamInfoServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>TeamInfoServlet</servlet-name>
        <url-pattern>/teaminfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateTeamServlet</servlet-name>
        <servlet-class>teams.createTeam.CreateTeamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateTeamServlet</servlet-name>
        <url-pattern>/createteam</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MyTeamMenuServlet</servlet-name>
        <servlet-class>teams.myTeam.myTeamMenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyTeamMenuServlet</servlet-name>
        <url-pattern>/myteammenu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MyTeamSquadServlet</servlet-name>
        <servlet-class>teams.myTeam.myTeamSquadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyTeamSquadServlet</servlet-name>
        <url-pattern>/myteamsquad</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllPlayersServlet</servlet-name>
        <servlet-class>players.AllPlayersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllPlayersServlet</servlet-name>
        <url-pattern>/allplayers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PlayerInfoServlet</servlet-name>
        <servlet-class>players.PlayerInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlayerInfoServlet</servlet-name>
        <url-pattern>/playerinfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddRaitingServlet</servlet-name>
        <servlet-class>players.AddRaitingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRaitingServlet</servlet-name>
        <url-pattern>/addRaiting</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NotificationsServlet</servlet-name>
        <servlet-class>notifications.NotificationsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotificationsServlet</servlet-name>
        <url-pattern>/notifications</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NotificationsIntroductionServlet</servlet-name>
        <servlet-class>notifications.NotificationsIntroductionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotificationsIntroductionServlet</servlet-name>
        <url-pattern>/notificationsintroduction</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TrueAnswerServlet</servlet-name>
        <servlet-class>notifications.TrueAnswerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrueAnswerServlet</servlet-name>
        <url-pattern>/trueanswer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EnterTeamServlet</servlet-name>
        <servlet-class>teams.EnterTeam.EnterTeamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnterTeamServlet</servlet-name>
        <url-pattern>/enterteam</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>registration.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
</web-app>